{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">

        <script src="{% static 'app/js/NetworkData.js' %}"></script>
        <script src="{% static 'app/js/index.js' %}"></script>
        <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>

        <link rel="stylesheet" type="text/css" href="{% static 'app/js/styles.css' %}">
    </head>
    <body>
        <nav>
            <div class="logo">
              {% comment %} <img src="assets/Logo64x64.png" alt="logo" /> {% endcomment %}
              <h1>OOP Visualizer</h1>
            </div>
            {% comment %} <ul>
              <li>
                <a href="{% url "index" %}">Home</a>
              </li>
            </ul> {% endcomment %}
            {% comment %} <div class="hamburger">
              <span class="line"></span>
              <span class="line"></span>
              <span class="line"></span>
            </div> {% endcomment %}
          </nav>
          {% comment %} <div class="menubar">
            <ul>
                <li>
                    <a href="{% url "index" %}">Home</a>
                </li>
            </ul>
          </div> {% endcomment %}
         
          <br>
          
          <div id="main-wrapper">
              <div class="left">
                  <h1>The Optimal Observability Problem Visualizer </h1> <br>
                  <p style="font-size: .7rem; line-height: 1;">
                    NB: If the "Heuristic" solver is selected for POP (non-deterministic) problems, please 
                    note that the solver 
                    will only find a solution to map out the strategies and give uniformly distriubuted action
                    probabilities.

                    Otherwise the heuristic solver will find the soluition to the problem.
                  </p>
                  <br>
                  <form id="oop_form" action="{% url "create-model" %}" method="post">                      
                      {% csrf_token %}

                      {% for field in OOP_Form %}
                        <div class="form-field">
                          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                          {{ field }}
                        </div>
                      {% endfor %}
                      
                      {% comment %} <p style="font-style: italic;">Note that the fields "Rows" and "Columns" only apply to Maze models</p> {% endcomment %}

                      <div class=""> 
                        <input id="submit_model" type="submit" value="Submit Model">
                      </div>
                  </form>

                <select id="theme-select" class="btn">
                  <option default>Choose a theme</option>
                  <option value="transparent">Transparent</option>
                  <option value="white">White</option>
                </select>

            </div>
            <div class="middle">
                <div id="network-container">
                    <div id="network"></div>
                </div>
            </div>
            <div class="right">

                <h1>Model Solution Status</h1>
                <br>

                <div class="card">
                  <div id="loader-container">
                    <div id ="loader-flex-container">
                      <div id="loader" class="circle-container disappear">
                        <div class="circle-progress"></div>
                      </div>
                    </div>
                    <p>Time elapsed to solve model: <span id="counter">0</span> seconds</p>
                  </div>
                </div>
                <div>
                  <button id="downloadButton" class="btn">Download Model</button>
                </div>


                <br/>

                <h1>Strategic Probabilities</h1>

                <table id="strat-table" class="nice-table">
                  <thead>
                      <tr>
                          <th>Color (strategy) / Action</th>
                          <th>Right</th>
                          <th>Left</th>
                          <th>Up</th>
                          <th>Down</th>
                      </tr>
                  </thead>
                  <tbody>
                  </tbody>
              </table>
            </div>
        </div>



        

    </body>
</html>